PORT=4000
HOST=0.0.0.0
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/babystar?schema=public"
CORS_ORIGIN="http://localhost:3000,http://10.10.119.30:3000"
JWT_SECRET="your-production-secret-at-least-32-chars"
JWT_EXPIRES_IN="2h"
REFRESH_SECRET="your-refresh-secret-at-least-32-chars"
REFRESH_EXPIRES_DAYS=30
